li {
    list-style: none;
}

.app {
    max-width: 1200px;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: top, center;
    background-image: url(./images/fon.jpeg);



    text-align: center;
}